.how-works-card {
  max-width: 980px;
  border-radius: 18px;
  padding: 40px 50px;
  background-color: var(--white);
  transition: all 0.9s ease-in-out !important;

  img {
    width: 55px;
  }
  .content {
    .title {
      font-family: Inter;
      font-weight: 600;
      font-size: 35px;
      color: var(--black2);
      margin: 25px 0 18px 0;
    }
    .desc {
      font-family: Inter;
      font-weight: 400;
      line-height: 35px;
      font-size: 25px;
      color: var(--black3);
    }
  }
}
.how-works-card:nth-child(2) {
  background-color: var(--blue2);
  .title,
  .desc {
    color: var(--white);
  }
}
.how-works-card:hover {
  box-shadow: var(--blue1) 3px 3px, var(--blue2) 6px 6px, var(--blue3) 12px 12px;
}
/* ========= Media Queries ========= */

@media (max-width: 1919px) {
  .how-works-card {
    max-width: 380px;
    border-radius: 15px;
    padding: 30px 20px;
    .content {
      .title {
        font-size: 22px;
        margin: 20px 0 10px 0;
      }
      .desc {
        max-width: 300px;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
@media (max-width: 540px) {
  .how-works-card {
    max-width: 320px;
    border-radius: 10px;
    padding: 15px 10px;
    .content {
      .desc {
        max-width: 285px;
      }
    }
  }
}
