.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 64px;
  height: 48px;
  position: relative;
  animation: split 0.8s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  left: 0;
  top: 0;
  transform: translateX(-10px);
  background: var(--blue2);
  opacity: 0.75;
  backdrop-filter: blur(20px);
}

.loader::after {
  left: auto;
  right: 0;
  background: #2ba2fd;
  transform: translateX(10px);
}

@keyframes split {
  25% {
    width: 60px;
  }

  100% {
    width: 180px;
  }
}
